<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Cambiar navigación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('index')}}">iBazaar</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{ include('IBazaarFrontendBundle::navelement.html.twig', {'route' : 'app_new', 'label' : 'Novedades'}) }}
        {{ include('IBazaarFrontendBundle::navelement.html.twig', {'route' : 'app_downloads', 'label' : 'Más descargadas'}) }}
        {{ include('IBazaarFrontendBundle::navelement.html.twig', {'route' : 'categories_list', 'label' : 'Categorías'}) }}        
      </ul>
      <form class="navbar-form navbar-right" role="search" action="{{ path("app_search") }}">
        <div class="form-group">
          <input name="term" type="text" class="form-control" placeholder="App a buscar">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>