{% extends 'IBazaarFrontendBundle::base.html.twig' %}
{% block content %}
<div class="jumbotron">
  <h1>¡Bienvenido a iBazaar!</h1>
  <p>Comienza a explorar la mejor selección de apps para iPhone y iPad:</p>
  <div class="row">
  	<form role="search" action="{{ path("app_search") }}">
	  	<div class="col-lg-10">
			<input class="form-control input-lg col-lg-12" type="text" name="term" placeholder="Introduce el nombre de una app">
	  	</div>
	  	<div class="col-lg-2">
	  		<button type="submit" class="btn btn-primary btn-lg">Buscar</button>
	  	</div>
  	</form>
  </div>
</div>
<div class="row">
	<div class="col-lg-8">
		<h2>
			<ul id="tabsPanel" class="nav nav-tabs">
				<li>
					<a href="#downloads" data-toggle="tab">Más descargadas</a>
				</li>
				<li>
					<a href="#new" data-toggle="tab">Novedades</a>
				</li>
			</ul>
		</h2>
		<div class="col-lg-12 tab-content">
			<div class="tab-pane" id="downloads">
		  		{{ include('IBazaarFrontendBundle:App:list.html.twig', {'apps' : mostDownloadedApps}) }}
			</div>
			<div class="tab-pane" id="new">
				{{ include('IBazaarFrontendBundle:App:list.html.twig', {'apps' : lastApps}) }}
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<h2>Categorías</h2>
		{% for category in categories %}
		    <div class="col-lg-6">
		    	{{ include('IBazaarFrontendBundle:Category:element.html.twig', {'category' : category}) }}
		    </div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#tabsPanel a[href="#downloads"]').tab('show')
			$('#tabsPanel a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show');
			})
		});
	</script>
{% endblock %}