{% extends 'IBazaarFrontendBundle::base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1>{{ app.name }}</h1>
		</div>
		<div class="col-lg-3 text-center">
			<p><img src="{{ app.logoUrl }}" alt="" width="250" height="250"></p>
			<a class="btn btn-success" href="{{ app.marketUrl }}">
				{% if app.isFree %}
					DESCARGAR
				{% else %}
				    COMPRAR
				{% endif %}
			</a>
		</div>
		<div class="col-lg-9">
			<dl class="dl-horizontal">
				<ul class="list-group">
					<li class="list-group-item">
						<dt>Precio</dt>
						<dd>{{ app.price }} €</dd>
					</li>
					<li class="list-group-item">
						<dt>Descargas</dt>
						<dd>{{ app.downloads }}</dd>
					</li>
					<li class="list-group-item">
						<dt>Fecha de alta</dt>
						<dd>{{ app.createdAt | date}}</dd>
					</li>
					<li class="list-group-item">
						<dt>Descripción</dt>
						<dd>{{ app.description }}</dd>
					</li>
				</ul>
			</dl>
		</div>
	</div>
{% endblock %}